* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body	{
	font-family: 'Open Sans', sans-serif;
}

nav {
	display: inline-block;
	padding-top: 1em;
	padding-bottom: .5em;
	width: 100%;
	background-color: white;
	position: sticky;
	top: 0;

}

nav >ul> .right-nav {
	display: inline-block;
	float:  right;
}

nav ul .nav-logo, nav .nav {
	display: inline;
	padding-left: 1rem;
	padding-right: 1rem ;
}
nav ul{
/*	padding-left:50px ;
	padding-right: 50px;*/
	margin-left: 8%;
	margin-right: 6%;
}
nav ul li {
	list-style-type: none;
}

.tuitt-button {
	color: white;
	background-color: #c2195b;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 50px;
	border: 0 ;
	width: 120px;
}

/*landing page*/

#bg-image {
	background: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	background-attachment: fixed;
	height: 50vh;
	margin-bottom: 20px;
}

.front-bg	{
	background-color: rgba(0,0,0,0.5) ;
	height: 50vh;
	text-align: right;
	padding-right: 3rem;
}

.container {
	color:  white;
	width: 40%;
	float: right;
	padding-top: 10px;		
	margin-right:5% ;
/*	padding-right: 20px;*/
}

.container .title {
	text-align: right !important;
	font-size: 3em;
	margin-bottom: 10px;
}

.container .subtitle {
	font-size: 1.5rem ;
	line-height: 2rem;
	margin-left: 20%;
	padding-left: 2rem;
	margin-bottom: 15px;
}

.apply-button {
	color: white;
	background-color: #c2195b;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 50px;
	border: 0 ;
	width: 120px;
	font-size: 1em;
}

/*    INTRO     */

.intro	{
	padding-top: 2rem;
/*	padding-left: 10%;
	padding-right: 10%;*/
	margin-bottom: 4rem;
	margin-left: 10%;
	margin-right: 10%;
}

.title-2,	.title {
	margin-bottom: 1em;
	text-align: center;
	font-family: 'zilla slab', monospace;
}

.intro-description {
	line-height: 2rem;
	padding-left: 10%;
	padding-right: 10%;
}

/*    PREFOOTER     */

.pre-footer {
	background-color: #f7fbfb;
	padding-top: 3rem;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

.pre-footer .prefooter-description {
	margin-left: 10%;
	margin-right: 10%;
	padding-right: 50px;
	margin-bottom: 1rem;
}

.pre-footer .title-2{
	margin-bottom: 2em;
}

.book-button {
	color: white;
	background-color: #336589;
	border: 0;
	padding: 10px 40px;
	border-radius: 125px;
	margin-bottom: 2rem;
	font-size: 1em;
}

/* FOOTER */

footer	{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 10%;
	margin-right: 10%;

	text-align: center;
}

footer span {
	margin-left:  0.5rem;
	margin-right: 0.5rem;

}